<div class="form">
  <h2 id="registration">Registration Form</h2>
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">

    <div ngModelGroup="personDetails" #personalDetails="ngModelGroup">
      <label for="fname">First Name</label>
      <input type="text" id="fname" placeholder="First name..." name="firstname" ngModel required
             minlength="3" maxlength="15" #fname="ngModel">
      <!--    <div>
            <small *ngIf="fname.invalid && fname.touched">First Name is required</small>
            <span *ngIf="firstname">You entered {{firstname}}</span>
          </div>-->

      <label for="lname">Last Name</label>
      <input type="text" id="lname" placeholder="Last name..." name="lastname" ngModel required
             minlength="3" maxlength="15" #lname="ngModel">
      <!--    <div>
            <small *ngIf="lname.invalid && lname.touched">Last Name is required</small>
            <span *ngIf="lastname">You entered {{lastname}}</span>
          </div>-->

      <label for="address">Address</label>
      <input type="text" id="address" placeholder="Enter Address..." name="address" ngModel required
             minlength="10" maxlength="30" #address="ngModel">
      <!--    <div>
            <small *ngIf="address.invalid && address.touched">Address is required</small>
            <span *ngIf="streetAddress">You entered {{streetAddress}}</span>
          </div>-->

          <label for="state">State</label>
          <select id="state" name="stateselect" [(ngModel)]="defaultState" required>
            <option value="Ohio">Ohio</option>
            <option value="Indiana">Indiana</option>
            <option value="Kentucky">Kentucky</option>
            <option value="Pennsylvania">Pennsylvania</option>
          </select>

      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Email..." class="form-control" name="email" ngModel required pattern="[a-z0-9._%+-]+@winsupplyinc.com"
             #email="ngModel">
          <div>
            <small *ngIf="email.invalid && email.touched">Email is required and ending needs @winsupplyinc.com</small>
          </div>
      <div>
        <small *ngIf="(personalDetails.invalid) && (personalDetails.touched)">Some of the required fields not valid</small>
      </div>
    </div>

    <input type="submit" value="Submit" id="btn" [disabled]="!myForm.valid"  > <!-- -->
  </form>
</div>

<div class="form-data">
  <h3>Form Data</h3>
  <p>First Name: <b>{{ firstname }}</b></p>
  <p>Last Name: <b>{{ lastname }}</b></p>
  <p>Address: <b>{{ streetAddress }}</b></p>
  <p>State: <b>{{ state }}</b></p>
  <p>Email: <b>{{ emailAddress }}</b></p>
</div>


